body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    background-color: #007bff;
    padding: 10px;
    position: relative;
}

.home-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #fff;
    color: #007bff;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.home-button:hover {
    background-color: #007bff;
    color: #fff;
}

.tabs {
    margin-left: auto;
}

.tab-button {
    flex: 1;
    padding: 10px;
    color: white;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab-button.active {
    background-color: #0056b3;
}

.tab-button:hover {
    background-color: #0056b3;
}

.content {
    padding: 20px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

#player, #artist-player {
    width: 560px;
    height: 315px;
    margin-bottom: 10px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

input[type="range"] {
    width: 100px;
}

select {
    margin-top: 10px;
    padding: 5px;
}
